<h1> List of Houses </h1>
<ul>
  <% @houses.each do |house| %>
    <li><%= link_to house.name, house %></li>
  <% end %>
</ul>

<%= link_to 'Add House', new_house_path %>
<%= link_to 'List of Members', house_members_path %>
